In [1]:
import pandas as pd
import datetime

In [2]:
crashes=pd.read_csv('NYC_Car_Crash_Clean')

C:\Users\789\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (4,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
crashes.head()

,Unnamed: 0,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,0,07/12/2012,8:06,BROOKLYN,11230,40.619397,-73.969566,POINT (-73.9695659 40.6193973),OCEAN PARKWAY,AVENUE L,...,Unspecified,Unspecified,Unspecified,NaN,130003,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN
1,1,07/14/2012,14:15,QUEENS,11354,40.774412,-73.806785,POINT (-73.8067849 40.774412),25 DRIVE,157 STREET,...,Unspecified,NaN,NaN,NaN,245755,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
2,2,07/14/2012,21:00,QUEENS,11372,40.753538,-73.886897,POINT (-73.8868974 40.7535377),80 STREET,34 AVENUE,...,Unspecified,NaN,NaN,NaN,279750,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
3,3,07/15/2012,11:00,MANHATTAN,10028,40.778815,-73.956083,POINT (-73.9560828 40.7788145),EAST 85 STREET,LEXINGTON AVENUE,...,Other Vehicular,NaN,NaN,NaN,45066,TAXI,TAXI,NaN,NaN,NaN
4,4,07/06/2012,7:45,QUEENS,11101,40.744658,-73.948523,POINT (-73.9485231 40.7446585),JACKSON AVENUE,21 STREET,...,Unspecified,NaN,NaN,NaN,238689,SPORT UTILITY / STATION WAGON,LARGE COM VEH(6 OR MORE TIRES),NaN,NaN,NaN

In [5]:
crashes['DATE']=pd.to_datetime(crashes['DATE'])

In [47]:
date_filt=((crashes['DATE']>=pd.to_datetime('01/01/2016')) & (crashes['DATE']<pd.to_datetime('1/1/2019') ))

In [48]:
clean_value=crashes[date_filt]
clean_value

,Unnamed: 0,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
56429,133947,2018-12-09,9:48,QUEENS,11362,40.756992,-73.729660,POINT (-73.72966 40.756992),MARATHON PARKWAY,61 AVENUE,...,Unspecified,NaN,NaN,NaN,4041190,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
56430,133948,2018-11-29,22:00,QUEENS,11369,40.767467,-73.881870,POINT (-73.88187 40.767467),88 STREET,23 AVENUE,...,NaN,NaN,NaN,NaN,4035239,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
56431,133950,2018-12-11,16:50,BROOKLYN,11210,40.628647,-73.952070,POINT (-73.95207 40.628647),BEDFORD AVENUE,AVENUE I,...,Unspecified,NaN,NaN,NaN,4042728,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
56432,133951,2018-11-20,8:09,BRONX,10474,40.817110,-73.892040,POINT (-73.89204 40.81711),TIFFANY STREET,GARRISON AVENUE,...,Unspecified,NaN,NaN,NaN,4029525,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
56433,133952,2018-11-09,16:00,BROOKLYN,11238,40.679420,-73.968230,POINT (-73.96823 40.67942),VANDERBILT AVENUE,BERGEN STREET,...,NaN,NaN,NaN,NaN,4018741,Bike,NaN,NaN,NaN,NaN
56434,133956,2018-11-14,8:30,QUEENS,11356,40.787785,-73.838250,POINT (-73.83825 40.787785),11 AVENUE,130 STREET,...,Unspecified,NaN,NaN,NaN,4020663,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
56435,133957,2018-11-16,7:45,MANHATTAN,10011,40.743423,-73.999855,POINT (-73.999855 40.743423),WEST 20 STREET,8 AVENUE,...,Unspecified,NaN,NaN,NaN,4029714,Sedan,Van,NaN,NaN,NaN
56436,133959,2018-12-12,18:20,BRONX,10459,40.822440,-73.885900,POINT (-73.8859 40.82244),BRUCKNER BOULEVARD,WHITTIER STREET,...,Unspecified,NaN,NaN,NaN,4043608,Sedan,Tractor Truck Diesel,NaN,NaN,NaN
56437,133960,2018-12-28,20:30,MANHATTAN,10013,40.715584,-74.003040,POINT (-74.00304 40.715584),WORTH STREET,LAFAYETTE STREET,...,NaN,NaN,NaN,NaN,4055177,Sedan,NaN,NaN,NaN,NaN
56440,133964,2018-12-28,14:13,BRONX,10456,40.829290,-73.916420,POINT (-73.91642 40.82929),EAST 165 STREET,MORRIS AVENUE,...,NaN,NaN,NaN,NaN,4055872,Sedan,NaN,NaN,NaN,NaN
56441,133969,2018-12-21,7:30,QUEENS,11103,40.758316,-73.910690,POINT (-73.91069 40.758316),48 STREET,31 AVENUE,...,NaN,NaN,NaN,NaN,4056212,Sedan,NaN,NaN,NaN,NaN
56444,133976,2018-12-13,19:10,QUEENS,11105,40.779747,-73.915825,POINT (-73.915825 40.779747),23 STREET,DITMARS BOULEVARD,...,Passing or Lane Usage Improper,NaN,NaN,NaN,4044279,Sedan,Sedan,NaN,NaN,NaN
56445,133977,2018-12-24,0:40,MANHATTAN,10036,40.757233,-73.989800,POINT (-73.9898 40.757233),8 AVENUE,WEST 42 STREET,...,Unspecified,NaN,NaN,NaN,4051549,PK,Taxi,NaN,NaN,NaN
56446,133986,2018-12-30,13:06,BRONX,10470,40.903930,-73.847920,POINT (-73.84792 40.90393),BARNES AVENUE,SAINT OUEN STREET,...,Unspecified,NaN,NaN,NaN,4054777,Taxi,Sedan,NaN,NaN,NaN
56447,133987,2018-12-16,19:35,BRONX,10458,40.861700,-73.891390,POINT (-73.89139 40.8617),WEBSTER AVENUE,EAST FORDHAM ROAD,...,Unspecified,NaN,NaN,NaN,4046175,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
56448,133988,2018-12-21,13:30,MANHATTAN,10027,40.818480,-73.955300,POINT (-73.9553 40.81848),OLD BROADWAY,WEST 133 STREET,...,Unspecified,NaN,NaN,NaN,4050625,Sedan,NaN,NaN,NaN,NaN
56452,133992,2018-12-29,23:00,MANHATTAN,10011,40.738552,-73.999690,POINT (-73.99969 40.738552),7 AVENUE,WEST 14 STREET,...,Unspecified,NaN,NaN,NaN,4055843,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
56456,134006,2018-12-23,20:49,QUEENS,11354,40.764706,-73.811005,POINT (-73.811005 40.764706),NORTHERN BOULEVARD,154 STREET,...,Unspecified,NaN,NaN,NaN,4054084,Sedan,NaN,NaN,NaN,NaN
56457,134007,2018-12-27,21:10,BROOKLYN,11237,40.707153,-73.931490,POINT (-73.93149 40.707153),KNICKERBOCKER AVENUE,INGRAHAM STREET,...,Unspecified,NaN,NaN,NaN,4053354,Sedan,Pick-up Truck,NaN,NaN,NaN
56458,134008,2018-12-19,16:15,QUEENS,11434,40.680880,-73.764060,POINT (-73.76406 40.68088),MERRICK BOULEVARD,ZOLLER ROAD,...,Unspecified,NaN,NaN,NaN,4054938,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
56460,134016,2018-12-13,21:33,BRONX,10473,40.820150,-73.872475,POINT (-73.872475 40.82015),LAFAYETTE AVENUE,MORRISON AVENUE,...,Unspecified,Unspecified,NaN,NaN,4044330,Sedan,Sedan,NaN,NaN,NaN
56462,134023,2018-12-18,18:10,BROOKLYN,11225,40.656760,-73.960144,POINT (-73.960144 40.65676),FLATBUSH AVENUE,WESTBURY COURT,...,Cell Phone (hand-Held),NaN,NaN,NaN,4055953,Sedan,Box Truck,NaN,NaN,NaN
56465,134029,2018-12-19,21:00,BRONX,10466,40.890160,-73.842610,POINT (-73.84261 40.89016),BAYCHESTER AVENUE,STRANG AVENUE,...,Unspecified,NaN,NaN,NaN,4048503,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
56466,134034,2018-12-18,11:30,BROOKLYN,11233,40.676190,-73.908100,POINT (-73.9081 40.67619),ATLANTIC AVENUE,EASTERN PARKWAY,...,Unspecified,NaN,NaN,NaN,4047905,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
56468,134036,2018-12-26,14:35,BROOKLYN,11226,40.640583,-73.955730,POINT (-73.95573 40.640583),DITMAS AVENUE,FLATBUSH AVENUE,...,Unspecified,NaN,NaN,NaN,4052505,Sedan,Box Truck,NaN,NaN,NaN
56469,134040,2018-12-13,12:25,MANHATTAN,10013,40.717870,-73.997116,POINT (-73.997116 40.71787),MOTT STREET,HESTER STREET,...,Unspecified,NaN,NaN,NaN,4047103,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
56470,134041,2018-12-24,20:29,BROOKLYN,11234,40.609810,-73.922510,POINT (-73.92251 40.60981),FLATBUSH AVENUE,AVENUE U,...,Unspecified,NaN,NaN,NaN,4051750,Sedan,Sedan,NaN,NaN,NaN
56471,134042,2018-12-21,9:50,STATEN ISLAND,10308,40.561460,-74.160970,POINT (-74.16097 40.56146),ARTHUR KILL ROAD,ABINGDON AVENUE,...,Unspecified,NaN,NaN,NaN,4049563,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
56472,134044,2018-12-26,5:50,QUEENS,11375,40.736313,-73.851350,POINT (-73.85135 40.736313),108 STREET,62 ROAD,...,Unspecified,NaN,NaN,NaN,4052474,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
56473,134045,2018-12-12,12:20,BROOKLYN,11201,40.696130,-73.987114,POINT (-73.987114 40.69613),TILLARY STREET,JAY STREET,...,Unspecified,NaN,NaN,NaN,4043742,Sedan,Box Truck,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
356277,857962,2016-01-04,13:00,BROOKLYN,11238,40.678932,-73.961970,POINT (-73.96197 40.678932),DEAN STREET,GRAND AVENUE,...,Unspecified,NaN,NaN,NaN,3592667,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
356282,857967,2016-01-03,9:30,MANHATTAN,10013,40.720854,-74.003929,POINT (-74.0039287 40.7208537),CANAL STREET,WOOSTER STREET,...,Unspecified,NaN,NaN,NaN,3364501,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
356284,857969,2016-01-09,13:32,BRONX,10454,40.808790,-73.916183,POINT (-73.9161827 40.8087895),SAINT ANNS AVENUE,EAST 141 STREET,...,Unspecified,NaN,NaN,NaN,3367535,BUS,BICYCLE,NaN,NaN,NaN
356288,857973,2016-01-02,5:00,MANHATTAN,10002,40.711593,-73.994265,POINT (-73.9942647 40.7115928),MARKET STREET,MONROE STREET,...,Driver Inattention/Distraction,NaN,NaN,NaN,3363609,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
356291,857976,2016-01-08,22:35,BRONX,10471,40.902961,-73.896410,POINT (-73.8964102 40.9029607),WEST 256 STREET,BROADWAY,...,NaN,NaN,NaN,NaN,3367599,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN,NaN
356301,857991,2016-01-09,10:00,BROOKLYN,11226,40.652314,-73.956011,POINT (-73.9560111 40.6523139),LINDEN BOULEVARD,BEDFORD AVENUE,...,NaN,NaN,NaN,NaN,3368167,SPORT UTILITY / STATION WAGON,BUS,NaN,NaN,NaN
356302,857993,2016-01-04,16:33,BRONX,10453,40.861864,-73.912739,POINT (-73.9127392 40.8618642),WEST FORDHAM ROAD,MAJOR DEEGAN EXPRESSWAY,...,Unspecified,NaN,NaN,NaN,3380136,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
356303,857994,2016-01-10,8:25,BRONX,10474,40.816510,-73.889861,POINT (-73.8898612 40.8165102),BARRETTO STREET,LAFAYETTE AVENUE,...,Unspecified,NaN,NaN,NaN,3368033,SPORT UTILITY / STATION WAGON,UNKNOWN,NaN,NaN,NaN
356305,857997,2016-01-03,15:00,QUEENS,11375,40.729154,-73.849448,POINT (-73.8494477 40.7291543),YELLOWSTONE BOULEVARD,66 ROAD,...,Unspecified,NaN,NaN,NaN,3364404,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
356310,858005,2016-01-08,10:40,MANHATTAN,10021,40.766494,-73.956957,POINT (-73.9569573 40.7664937),EAST 70 STREET,1 AVENUE,...,Unspecified,NaN,NaN,NaN,3366987,VAN,VAN,NaN,NaN,NaN
356334,858039,2016-01-01,13:26,QUEENS,11375,40.711705,-73.844762,POINT (-73.8447618 40.7117051),ASCAN AVENUE,KESSEL STREET,...,Unspecified,NaN,NaN,NaN,3363978,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
356336,858042,2016-01-09,16:21,BRONX,10467,40.879823,-73.867267,POINT (-73.8672671 40.8798233),OLINVILLE AVENUE,EAST 213 STREET,...,Unspecified,NaN,NaN,NaN,3367593,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
356337,858043,2016-01-10,17:40,BROOKLYN,11219,40.640599,-73.994332,POINT (-73.9943321 40.6405992),FORT HAMILTON PARKWAY,NEW UTRECHT AVENUE,...,Unspecified,NaN,NaN,NaN,3368697,PASSENGER VEHICLE,BICYCLE,NaN,NaN,NaN
356339,858046,2016-01-07,17:45,BROOKLYN,11239,40.652893,-73.866731,POINT (-73.8667311 40.6528929),GATEWAY DRIVE,ERSKINE STREET,...,Unspecified,NaN,NaN,NaN,3367198,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
356347,858054,2016-01-05,14:30,MANHATTAN,10010,40.741549,-73.989575,POINT (-73.9895745 40.7415488),WEST 23 STREET,5 AVENUE,...,Unspecified,NaN,NaN,NaN,3365798,BUS,PASSENGER VEHICLE,NaN,NaN,NaN
356351,858059,2016-01-05,15:50,BRONX,10462,40.851589,-73.867801,POINT (-73.8678006 40.8515892),BRONX PARK EAST,UNIONPORT ROAD,...,Unspecified,NaN,NaN,NaN,3365955,PASSENGER VEHICLE,MOTORCYCLE,NaN,NaN,NaN
356352,858060,2016-01-04,13:30,QUEENS,11101,40.744131,-73.927047,POINT (-73.9270473 40.7441309),38 STREET,QUEENS BOULEVARD,...,Unspecified,NaN,NaN,NaN,3365618,SPORT UTILITY / STATION WAGON,PASSENGER VEHICLE,NaN,NaN,NaN
356354,858062,2016-01-09,22:00,BROOKLYN,11203,40.660716,-73.929388,POINT (-73.9293876 40.6607162),EAST 52 STREET,RUTLAND ROAD,...,NaN,NaN,NaN,NaN,3368136,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
356356,858066,2016-01-02,13:31,BROOKLYN,11238,40.679831,-73.958293,POINT (-73.9582932 40.6798312),ATLANTIC AVENUE,CLASSON AVENUE,...,Unspecified,NaN,NaN,NaN,3364244,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
356357,858067,2016-01-06,0:53,QUEENS,11413,40.676118,-73.740457,POINT (-73.7404569 40.6761178),MERRICK BOULEVARD,230 STREET,...,Unspecified,Unspecified,NaN,NaN,3366212,PASSENGER VEHICLE,PASSENGER VEHICLE,UNKNOWN,NaN,NaN
356359,858069,2016-01-10,13:20,BROOKLYN,11220,40.649822,-74.009089,POINT (-74.0090886 40.6498215),44 STREET,4 AVENUE,...,Unspecified,NaN,NaN,NaN,3368755,PASSENGER VEHICLE,UNKNOWN,NaN,NaN,NaN
356368,858079,2016-01-03,18:32,MANHATTAN,10001,40.753387,-73.996304,POINT (-73.996304 40.7533873),9 AVENUE,WEST 34 STREET,...,Unspecified,NaN,NaN,NaN,3364055,PASSENGER VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
356370,858085,2016-01-06,4:00,QUEENS,11101,40.744239,-73.927975,POINT (-73.9279746 40.7442385),37 STREET,QUEENS BOULEVARD,...,Unspecified,NaN,NaN,NaN,3366248,LIVERY VEHICLE,LIVERY VEHICLE,NaN,NaN,NaN
356371,858086,2016-01-04,8:51,QUEENS,11378,40.719623,-73.911320,POINT (-73.9113201 40.7196229),RUST STREET,GRAND AVENUE,...,Unspecified,NaN,NaN,NaN,3364927,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
356373,858088,2016-01-09,9:30,BROOKLYN,11225,40.658876,-73.947522,POINT (-73.9475224 40.6588759),FENIMORE STREET,NEW YORK AVENUE,...,NaN,NaN,NaN,NaN,3367686,PASSENGER VEHICLE,NaN,NaN,NaN,NaN
356375,858090,2016-01-08,20:07,BRONX,10453,40.850859,-73.907646,POINT (-73.9076461 40.8508595),MORRIS AVENUE,EAST BURNSIDE AVENUE,...,Unspecified,NaN,NaN,NaN,3367577,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
356379,858096,2016-01-04,15:20,BROOKLYN,11217,40.681505,-73.974228,POINT (-73.9742282 40.6815047),DEAN STREET,6 AVENUE,...,Unspecified,NaN,NaN,NaN,3364854,SPORT UTILITY / STATION WAGON,BUS,NaN,NaN,NaN
356380,858097,2016-01-02,19:50,MANHATTAN,10017,40.748800,-73.969846,POINT (-73.969846 40.7487997),EAST 42 STREET,1 AVENUE,...,Unspecified,NaN,NaN,NaN,3364059,SPORT UTILITY / STATION WAGON,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN
356385,858102,2016-01-09,5:40,BROOKLYN,11206,40.709821,-73.940196,POINT (-73.9401962 40.7098208),BUSHWICK AVENUE,STAGG STREET,...,Unspecified,NaN,NaN,NaN,3367743,PASSENGER VEHICLE,PASSENGER VEHICLE,NaN,NaN,NaN
356392,858111,2016-01-06,9:10,BROOKLYN,11201,40.686728,-73.990466,POINT (-73.9904664 40.6867277),BERGEN STREET,SMITH STREET,...,Unspecified,NaN,NaN,NaN,3366140,PASSENGER VEHICLE,SPORT UTILITY / STATION WAGON,NaN,NaN,NaN

In [49]:
clean_value.shape

(280391, 30)

In [50]:
clean_value['TIME']=pd.to_datetime(clean_value['TIME'])

C:\Users\789\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [51]:
 clean_value.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 280391 entries, 56429 to 356392
Data columns (total 30 columns):
Unnamed: 0                       280391 non-null int64
DATE                             280391 non-null datetime64[ns]
TIME                             280391 non-null datetime64[ns]
BOROUGH                          280391 non-null object
ZIP CODE                         280391 non-null object
LATITUDE                         280391 non-null float64
LONGITUDE                        280391 non-null float64
LOCATION                         280391 non-null object
ON STREET NAME                   280391 non-null object
CROSS STREET NAME                280012 non-null object
OFF STREET NAME                  200 non-null object
NUMBER OF PERSONS INJURED        280386 non-null float64
NUMBER OF PERSONS KILLED         280382 non-null float64
NUMBER OF PEDESTRIANS INJURED    280391 non-null int64
NUMBER OF PEDESTRIANS KILLED     280391 non-null int64
NUMBER OF CYCLIST INJURED        280391 non-null int64
NUMBER OF CYCLIST KILLED         280391 non-null int64
NUMBER OF MOTORIST INJURED       280391 non-null int64
NUMBER OF MOTORIST KILLED        280391 non-null int64
CONTRIBUTING FACTOR VEHICLE 1    279372 non-null object
CONTRIBUTING FACTOR VEHICLE 2    241502 non-null object
CONTRIBUTING FACTOR VEHICLE 3    14876 non-null object
CONTRIBUTING FACTOR VEHICLE 4    3175 non-null object
CONTRIBUTING FACTOR VEHICLE 5    867 non-null object
UNIQUE ID                        280391 non-null int64
VEHICLE TYPE CODE 1              278796 non-null object
VEHICLE TYPE CODE 2              221597 non-null object
VEHICLE TYPE CODE 3              26701 non-null object
VEHICLE TYPE CODE 4              14662 non-null object
VEHICLE TYPE CODE 5              2752 non-null object
dtypes: datetime64[ns](2), float64(4), int64(8), object(16)
memory usage: 66.3+ MB

In [52]:
clean_value.head()

,Unnamed: 0,DATE,TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,UNIQUE ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
56429,133947,2018-12-09,2019-09-13 09:48:00,QUEENS,11362,40.756992,-73.72966,POINT (-73.72966 40.756992),MARATHON PARKWAY,61 AVENUE,...,Unspecified,NaN,NaN,NaN,4041190,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
56430,133948,2018-11-29,2019-09-13 22:00:00,QUEENS,11369,40.767467,-73.88187,POINT (-73.88187 40.767467),88 STREET,23 AVENUE,...,NaN,NaN,NaN,NaN,4035239,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
56431,133950,2018-12-11,2019-09-13 16:50:00,BROOKLYN,11210,40.628647,-73.95207,POINT (-73.95207 40.628647),BEDFORD AVENUE,AVENUE I,...,Unspecified,NaN,NaN,NaN,4042728,Station Wagon/Sport Utility Vehicle,Sedan,NaN,NaN,NaN
56432,133951,2018-11-20,2019-09-13 08:09:00,BRONX,10474,40.817110,-73.89204,POINT (-73.89204 40.81711),TIFFANY STREET,GARRISON AVENUE,...,Unspecified,NaN,NaN,NaN,4029525,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
56433,133952,2018-11-09,2019-09-13 16:00:00,BROOKLYN,11238,40.679420,-73.96823,POINT (-73.96823 40.67942),VANDERBILT AVENUE,BERGEN STREET,...,NaN,NaN,NaN,NaN,4018741,Bike,NaN,NaN,NaN,NaN

In [45]:
clean_value['TIME'].dt.hour==0

56429     False
56430     False
56431     False
56432     False
56433     False
56434     False
56435     False
56436     False
56437     False
56440     False
56441     False
56444     False
56445      True
56446     False
56447     False
56448     False
56452     False
56456     False
56457     False
56458     False
56460     False
56462     False
56465     False
56466     False
56468     False
56469     False
56470     False
56471     False
56472     False
56473     False
          ...
252561    False
252657    False
252672    False
252708    False
252760    False
252766    False
252773    False
252776    False
252867    False
252880    False
252890    False
252942    False
252946    False
252957    False
253045    False
253144    False
253176    False
253222    False
253255    False
253364    False
253402    False
253416    False
253493    False
253500    False
253511    False
253512    False
253563    False
253598    False
253601    False
253810    False
Name: TIME, Length: 182318, dtype: bool

In [61]:
clean_value.to_csv(r'C:/Users/789/Desktop/Car_crashed_from_2016_to_2018.csv ')